{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <img src="{% static 'images/kendala-sepulsa.jpg' %}" style="width:690;">
        </div>
    </div>
    <br>
    <h2 class="blogh2">Punya Kendala? Segera Hubungi<br>
    Customer Service Sepulsa!<br></h2>
    <p class="blogp">Bagi Sepulsa, kepuasan pelanggan adalah yang utama. Kami senantiasa<br>
        mendengarkan keluhan maupun kendala yang kamu hadapi selama melakukan<br>
        transaksi di Sepulsa. Umumnya pelanggan Sepulsa menghadapi kendala sebagai<br>
        berikut: Status Order Pending Jika transaksi pembayaran sudah selesai, namun status<br>
        order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer<br>
        Service dengan menyertakan email ...<br>
    </p>
    <a class="blue bloga" href="#">Baca Selengkapnya</a>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <img src="{% static 'images/sms.png' %}" style="max-width:690;">
        </div>
    </div>
    <br>
    <h2 class="blogh2">OTP, Si Kode Rahasia nan Berbahaya<br></h2>
    <p class="blogp">Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan<br>
        keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya<br>
        membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dari tempat<br>
        duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi online.<br>
        Namun tanpa disadari, kemudahan tersebut bukan berarti tanpa celah. Sebelum kita<br>
        membahas lebih ...<br>
    </p>
    <a class="blue bloga" href="#">Baca Selengkapnya</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}