{% load static %}

<html>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<header>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-md-4 col-12">
                <h3>Alpha Tech Academy</h3>
            </div>
            <div class="col-md-4 col-12">
                <nav class="navbar navbar-expand-sm">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav marginmid">
                            <li class="nav-item active"><a class="nav-link black" href="/">Home</a></li>
                            <li class="nav-item active"><a class="nav-link black" href="/blog">Blog</a></li>
                            <li class="nav-item active"><a class="nav-link black" href="/mentor">Mentor</a></li>
                            <li class="nav-item active"><a class="nav-link black" href="/mentee">Mentee</a></li>
                            <li class="nav-item active"><a class="nav-link black" href="/author">Author</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<body>
    <div class="page-header">
        <br>
        <br>
        <div class="container-fluid">
            <div class="row">
                <img class="marginmid" src="{% static 'images/alpha-logo.png' %}">       
            </div>
            <div class="row">
                <h1>Alpha Tech Academy</h1>  
            </div>
            <div class="row justify-content-center">
                <div class="col-8">
                    <p>Alpha Tech is a tech talent incubator that gives everyone(even<br>
                        non IT background) a chance to be a professional Tech Talent within 3<br>
                        months. Contact Person: Email : academy@alphatech.id Mobile phone:<br>
                        0877 9609 9530
                    </p>
                </div>
            </div>       
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <br>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <img src="{% static 'images/benefit.png' %}">       
                </div>
                <div class="col-md-6 col-12">
                    <h3>Learn awesome tech</h3>
                    <p>You will learn about programing language, suuch as Python and Javascript, build<br>
                    back-end apps using Flask framework with microservice concept, build client-site<br>
                    apps using React Library, etc.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <img class="marginmid" src="{% static 'images/search-job.png' %}">       
                </div>
                <div class="col-md-6 col-12">
                    <h3>Land new job</h3>
                    <p>If you can pass this awesome program, you will be part of our reliable tech team for<br>
                    especially Software Engineer position and other tech  position such as Quality<br>
                    Engineer, System Analyst, etc.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <img class="marginmid" src="{% static 'images/get-paid.png' %}">       
                </div>
                <div class="col-md-6 col-12">
                    <h3>Get paid to learn</h3>
                    <p>Join for free and learn some money. Yes you read that right, no registration fee<br>
                        required to enter this program. To make things even better, you will recieve pocket<br>
                        money just for participating. Cool, right?
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <img class="marginmid" src="{% static 'images/mission.png' %}">       
                </div>
                <div class="col-md-6 col-12">
                    <h2>Who are we?</h2>
                    <p>Alpha Tech is a tech talent incubation that gives anyone any chance(not<br>
                    even ad IT background) to learn within 3 months of being a professional Tech Talent.<br>
                    What is our mission? We want to improve capability Tech Talent in Indonesia
                    </p>
                    <br>
                    <h2>What is our mission?</h2>
                    <p>We want to improve capability Tech Talent in Indonesia
                    </p>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <div class="learn">
        <h3 class="marginmid">What will you learn?</h3>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-2 col-12 box">
                <img src="{% static 'images/learn-html.png' %}">       
            </div>
            <div class="col-md-2 col-12 box">
                <img src="{% static 'images/learn-programming.png' %}">       
            </div>
            <div class="col-md-2 col-12 box">
                <img src="{% static 'images/learn-git.png' %}">       
            </div>
            <div class="col-md-2 col-12 box">
                <img src="{% static 'images/learn-api.png' %}">       
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-2 col-12 box">
                <img src="{% static 'images/learn-react.png' %}">       
            </div>
            <div class="col-md-2 col-12 box">
                <img src="{% static 'images/learn-tdd.png' %}">       
            </div>
            <div class="col-md-2 col-12 box">
                <img src="{% static 'images/learn-server.png' %}">       
            </div>
            <div class="col-md-2 col-12 box">
                <img src="{% static 'images/learn-scrum.png' %}">       
            </div>
        </div>
        <br>
        <br>
    </div>

    <div class="footer">
        <div class="footer1">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                    <h3>Our Product:<img src="{% static 'images/logo-grey-alphapay.png' %}"> <img src="{% static 'images/logo-grey-sepulsa.png' %}"><img src="{% static 'images/logo-grey-alphabill.png' %}"></h3>       
                </div>
            </div>
        </div>
        <div class="footer2">
            <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                <span class="whitebold">Contact Person: <span class="white">Mobile phone: 0877 9609 9530. Email: <span class="blue">academy@alphatech.id</span></span></span>    
                </div>
            </div>
        </div>  
    </div>

    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
</body>
 
 </html>