{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="row justify-content-center">
    <div class="col-md-6 col-12">
        <img src="{% static 'images/profile-pic2.jpg' %}">       
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-6 col-12">
        <h3>Nama Author</h3>       
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-6 col-12">
        <p><strong>Please Write your Summary</strong>, Lorem Ipsum Dolor Sit Amet.Lorem Ipsum Dolor Sit Amet.Lorem Ipsum Dolor Sit Amet.Lorem Ipsum Dolor Sit Amet.Lorem Ipsum Dolor Sit Amet.Lorem Ipsum Dolor Sit Amet.Lorem Ipsum Dolor Sit Amet.</p>       
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-6 col-12">
        <table>
            <tr>
                <td style="padding-right: 200;">Alamat</td>
                <td>:</td>
                <td> Alamat Author</td>
            </tr>
            <tr>
                <td style="padding-right: 200;">Telephone</td>
                <td>:</td>
                <td> Author's Telephone</td>
            </tr>
            <tr>
                <td style="padding-right: 200;">Education</td>
                <td>:</td>
                <td> Author's Education</td>
            </tr>
            <tr>
                <td style="padding-right: 200;">Profession</td>
                <td>:</td>
                <td> Author's Profession</td>
            </tr>
            <tr>
                <td style="padding-right: 200;">Nationality</td>
                <td>:</td>
                <td> Author's Nationality</td>
            </tr>
            <tr>
                <td style="padding-right: 200;">Company</td>
                <td>:</td>
                <td> Author's Company</td>
            </tr>
            <tr>
                <td style="padding-right: 200;">Email</td>
                <td>:</td>
                <td> Author's Email</td>
            </tr>
            <tr>
                <td style="padding-right: 200;">Address</td>
                <td>:</td>
                <td> Author's Addresss</td>
            </tr>
        </table>       
    </div>
</div>
<div class="row justify-content-center text-center">
    <div class="col-md-6 col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d349.25010820483783!2d112.61024939217023!3d-7.9664742254866345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882850fc30ec7%3A0xd7c48eba87c040cb!2sPT+Maxindo+Mitra+Solusi+-+Malang!5e0!3m2!1sen!2sid!4v1549987506436" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>       
    </div>
</div>
<br><br><br>
{% endblock %}