{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="content container">
    <br><br>
    <h3 class="marginmid">Our Mentee</h3>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-md-4 col-12">
            <img style="max-width: 260px;"src="{% static 'images/Deepin-Screenshot-select-area-20181009100635.png' %}">       
        </div>
        <div class="col-md-6 col-12">
            <h4>Steve Jobs</h4>
            <p>"I learn so much from Alpha Tech."
            </p>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4 col-12">
            <img style="max-width: 260px;"src="{% static 'images/Deepin-Screenshot-select-area-20181009100646.png' %}">       
        </div>
        <div class="col-md-6 col-12">
            <h4>Larry Page</h4>
            <p>"Great place to learn about programing."
            </p>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4 col-12">
            <img style="max-width: 260px;"src="{% static 'images/Deepin-Screenshot-select-area-20181009100620.png' %}">       
        </div>
        <div class="col-md-6 col-12">
            <h4>Mark Zuckenberg</h4>
            <p>"The best place for who want to be a great IT talent."
            </p>
        </div>
    </div>
    <br><br><br>
    <br><br><br>
    <br><br><br>
</div>
{% endblock %}